{% extends('index.twig') %}

{% form_theme form _self %}

{% use "form_div_layout.html.twig" %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label col-sm-4')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}


{% block body %}
<div class="starter-template">
    <h1>Rotating Hat</h1>
    <p class="lead">Distribute a recurring task between people</p>
</div>
<div class="row">
    <div class="col-lg-6">
        <form role="form" action="/create-calendar" method="post" class="js-entry">
            <div class="form-group form-row">
                {{ form_label( form.name, 'Task name' ) }}

                <div class="col-sm-8">
                    {{ form_widget( form.name, { 'attr':{ 'class': 'form-control', 'placeholder': 'Hero of the day' } } ) }}
                    {{ form_errors( form.name ) }}
                </div>
            </div>

            <div class="form-group form-row">
                {{ form_label( form.people, 'Names of the people' ) }}


                <div class="col-sm-8">
                    {{ form_widget( form.people, { 'attr':{ 'class': 'form-control', 'rows': 5 } } ) }}
                    <small class="form-text text-muted">One name per line, at least 2 names</small>
                    {{ form_errors( form.people ) }}
                </div>
            </div>

            <div class="form-group form-row">
                {{ form_label( form.duration, 'Duration of the task' ) }}

                <div class="col-sm-8">
                    {{ form_widget( form.duration, { 'attr':{ 'class': 'form-control' } } ) }}
                    {{ form_errors( form.duration ) }}
                </div>
            </div>

            <div class="form-group form-row">
                {{ form_label( form.startOn, 'Start on' ) }}


                <div class="col-sm-8">
                    {{ form_widget( form.startOn, { 'attr': {
                        'class': 'form-control',
                        'placeholer': 'YYYY-MM-DD',
                        'data-provide': 'datepicker',
                        'data-date-start-date': "-1y",
                        'data-date-format': "yyyy-mm-dd"
                    } } ) }}
                    {{ form_errors( form.startOn ) }}
                </div>
            </div>

            <div class="form-group form-row">
                {{ form_label( form.recurrence, 'Repeat' ) }}

                <div class="col-sm-8">
                    {{ form_widget( form.recurrence, { 'attr':{ 'class': 'form-control js-recurrence' } } ) }}
                    {{ form_errors( form.recurrence ) }}
                    {{ form_errors( form.endDate ) }}
                </div>
            </div>
            <div class="form-group form-row js-end_date_row" style="display: none">
                {{ form_label( form.endDate, 'Repeat until ...' ) }}

                <div class="col-sm-8">
                    {{ form_widget( form.endDate, { 'attr': {
                        'class': 'form-control',
                        'placeholer': 'YYYY-MM-DD',
                        'data-provide': 'datepicker',
                        'data-date-start-date': "-1y",
                        'data-date-format': "yyyy-mm-dd",
                    } } ) }}
                    {{ form_errors( form.endDate ) }}
                </div>
            </div>
            <div class="form-group form-row js-timezone_select_row" style="display: none">
                {{ form_label( form.userTimezone, 'Timezone' ) }}


                <div class="col-sm-8">
                    {{ form_widget( form.userTimezone, { 'attr':{ 'class': 'form-control' } } ) }}
                </div>

                {{ form_errors( form.userTimezone ) }}
                {{ form_widget( form.timezone, { 'attr': { 'class': 'js-timezone' } } ) }}
            </div>

            <button type="submit" class="btn">Get Calendar file</button>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                How to use
            </div>
            <div class="card-body">
                <p class="card-text">
                    Enter the names of the people that will carry out the task after each other, select the duration of the task, select the start time and press "Get Calendar file".
                    This will download a file that you can import into your calendar application, e.g. Google Calendar or Outlook.
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}